@import './utils/variables';
@import './utils/mixins';


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open sans", Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.navbar{
    display: flex;
    align-items: flex-start;
    position: fixed;
    z-index: 100;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-180px);
    transition: all 700ms linear;
    @include mobile{
        left: initial;
        right: 0;
        transform: translateX(1000px);
        width: 100%;
    }
    & ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        background-color: #fffffff0;
        padding: 0;
        margin: 0;
        @include mobile{
            height: 100%;
            width: 100%;
            padding: 20px 0;
            align-items: center;
            justify-content: center;
        }
        & li{
            display: flex;
            align-items: center;
            list-style: none;
            padding: 10px 30px;
            & a{
                text-decoration: none;
                color: $color-secondary;
                font-weight: 600;
                font-size: 14px;
                @include mobile{
                    font-size: 20px;
                }
            }
        }
    }
}

.reveal{
    transform: translateX(0);
}

.active-link{
    border-bottom: 1px solid $color-primary;
    & a{
        color: #fff;
    }
}

.navbar_icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    border-radius: 5px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    z-index: 200;
    width: 30px;
    height: 30px;
    margin: 10px;
    @include mobile{
        left: initial;
        right: 0;
    }
    & span{
        display: block;
        top: 50%;
        z-index: 1000;
        background-color: $color-primary;
        width: 20px;
        height: 4px;
        margin: 10px 0;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transition: background-color .5s ease-in-out;
        -o-transition: background-color .5s ease-in-out;
        transition: background-color .5s ease-in-out;
        &::before{
            content: "";
            position: absolute;
            background-color: $color-primary;
            width: 20px;
            height: 4px;
            -webkit-transform: translateY(6px);
                -ms-transform: translateY(6px);
                    transform: translateY(6px);
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
        &::after{
            content: "";
            position: absolute;
            background-color: $color-primary;
            width: 20px;
            height: 4px;
            -webkit-transform: translateY(-6px);
                -ms-transform: translateY(-6px);
                    transform: translateY(-6px);
            -webkit-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
    }
}
.navbar_icon.active span{
    background-color: transparent;
}

.navbar_icon.active span::before{
    -webkit-transform: translateY(0) rotateZ(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotateZ(-45deg);
}

.navbar_icon.active span::after{
    -webkit-transform: translateY(0) rotateZ(45deg);
        -ms-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotateZ(45deg);
}

//      Accueil


.home{
    display: flex;
    height: 100vh;
    width: 100%;
    background: url(../assets/images/computer_desk_light.png), linear-gradient(0deg, rgba(218,218,218,1) 20%, rgba(255,255,255,1) 80%);
    box-shadow: 0 -39px 34px #dadada inset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    position: relative;
    justify-content: center;
    align-items: center;
    @include mobile{
        height: 100vh;
        background-size: cover;
        background-position: initial;
        box-shadow: none;

    }
    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        background-position-y: initial;
        background-position-x: center;
    }
    @media screen and (min-width: 1024px) and (min-height: 1360px){
        background-position-y: initial;
    }
    @media screen and (min-width: 1360px) and (min-height: 1024px) {
        background-position-y: initial;
        background-position-x: center;
    }
    @media screen and (min-width: 910px) and (min-height: 1360px) {
        background-position-y: initial;
    }
}


.home_title{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 300px;
    align-items: center;
    @include mobile{
        justify-content: center;
        position: initial;
        align-items: center;
        width: 280px;
        height: 150px;
        font-size: 20px;
        background-color: #fffffff2;
        color: $color-secondary;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 0;
    }
    @include touch-pad{
        color: $color-secondary;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        color: #fff;
        margin-bottom: 0;
    }
    @media screen and (max-width: 768px) and (orientation: landscape) {
        background-color: transparent;
        margin-bottom: 30px;
    }
}

.home_title_name{
    margin: 10px 0;
    font-weight: inherit;
    font-size: inherit;
}

.auto-type{
    font-weight: 500;
}

.home_title_job_container{
    display: flex;
    & .auto-type{
        font-weight: 500;
        color: $color-secondary;
        margin-left: 10px;
    }
}

.home_direction{
    @include arrow(48vw, 51vh);
    @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
        left: 55vw;
    }
    @media screen and (min-width: 1024px) and (min-height: 1360px){
        top: 70vh;
    }
    @media screen and (min-width: 1024px) and (min-height: 1360px){
        left: 55vw;
    }
    @media screen and (min-width: 1360px) and (min-height: 1024px){
        left: 55vw;
    }
    @media screen and (min-width: 910px) and (min-height: 1360px) {
        top: 70vh;
        left: 54vw;
    }
}


//      A propos


.about{
    display: flex;
    background: #DADADA;
    position: relative;
    z-index: 4;
    padding: 100px 0;
    @include mobile{
        padding: 50px 0;
    }
}

.about_content{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    @include touch-pad{
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 910px) and (min-height: 1360px) {
        flex-direction: column;
        align-items: center;
    }
}

.about_content_picture{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    position: relative;
    @include mobile{
        margin: 30px;
    }
}

.about_content_picture_profil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
    height: 306px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 21px #767676;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
    @include mobile{
        width: 300px;
        height: 300px;
    }
}

.about_content_picture_circle{
    width: 356px;
    height: 356px;
    border: 3px solid $color-primary;
    background-color: #ffffff40;
    border-radius: 50%;
    position: absolute;
    right: -63px;
    bottom: -30px;
    @include mobile{
        display: none;
    }
    @include touch-pad{
        display: none;
    }
    @media screen and (min-width: 910px) and (min-height: 1360px) {
        bottom: -56px;
    }
}

.about_content_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    @include mobile{
        width: 310px
    }
    @media screen and (min-width: 910px) and (min-height: 1360px) {
        margin: 50px 0;
    }
}

.about_content_text_titles{
    @include section-titles(rgba(255,254,254,.4196078431));
    @include mobile{
        margin-top: 50px;
    }
}

.about_content_text_signature{
    display: flex;
    align-self: flex-start;
    font-family: "Mrs Saint Delafield", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    color: $color-primary;
    @include mobile{
        align-self: auto;
    }
}

.about_content_text_description{
    font-weight: 400;
}

.about button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 40px 0;
    width: 269px;
    height: 54px;
    background: linear-gradient(to right, #ffe259, #ffa751);
    & a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: #00000087;
    }
}

//  Portfolio
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 100px;
    background-color: #fff;
    margin-top: -35px;
    z-index: 5;
    border-radius: 40px;
    @include mobile{
        padding-top: 50px; 
    }
}

.portfolio_titles{
    @include section-titles(rgb(157 157 157 / 24%));
    align-self: start;
    margin: 60px;
    @include mobile{
        margin-top: 0;
    }
}


.portfolio_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 726px;
    padding: 0;
    margin: 0;
    @include mobile{
        flex-direction: column;
        align-items: center;
        width: 310px;
    }
}

.portfolio_container li{
    display: flex;
    list-style: none;
    box-shadow: 5px 5px 10px #000;
    margin: 10px;
    height: 300px;
    width: 240px;
    position: relative;
    &:hover > .portfolio_container_card_description{
        opacity: 1;
        visibility: visible;
    }
    & img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    @include mobile{
        width: 300px;
        margin: 10px 0;
    }
}

.portfolio_container_card_description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 50px);
    margin: 0;
    background-color: #000000bd;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out;
    padding: 0 25px;
    font-size: 15px;
        & span{
            display: inline-block;
            border: 1px solid $color-primary;
            padding: 10px;
            margin: 10px 0;
            font-weight: 700;
        }
        & a{
            text-decoration: none;
            color: $color-primary;
            font-weight: 700;
            margin: 10px 0;
        }
}

.portfolio_container_card{
    &--medium{
        width: 400px!important;
        @include mobile{
            width: 300px!important;
        }
    }
    &--large{
        width: 658px!important;
        @include mobile{
            width: 300px!important;
        }
    }
}

//  Compétences techniques

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #DADADA;
    padding: 100px 0;
    position: relative;
    z-index: 1;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    @include mobile{
        padding-top: 60px; 
    }
}

.skills_titles{
    @include section-titles(rgba(255,254,254,.4196078431));
    @include mobile{
        span{
            font-size: 26px;
        }
        h2{
            font-size: 22px;
        }
    }
}

.skills_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 494px;
    margin: 140px 0;
    @include mobile{
        flex-direction: column;
        width: 310px;
        height: 850px;
        justify-content: space-between;
    }
}

.skills_category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 164px;
    background-color: #fff;
    position: relative;
    margin: 8px;
    filter: drop-shadow(6px 8px 4px rgba(0, 0, 0, 0.658));
    &::after{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: -70px;
        border-left: 141px solid transparent;
        border-right: 141px solid transparent;
        border-bottom: 70px solid #fff;
    }
    &::before{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 163px;
        transform: rotate(180deg);
        border-left: 141px solid transparent;
        border-right: 141px solid transparent;
        border-bottom: 70px solid #fff;
    }
    & h3{
        position: absolute;
        top: -3px;
        z-index: 2;
        font-weight: 500;
        color: $color-primary;
        margin-top: 0;
        background-color: transparent;
    }
}


.front{
    background: url(../assets/images/dev_front_white.png), #fff;
    background-size: 115px;
    background-repeat: no-repeat;
    background-position: center;
}

.back{
    background: url(../assets/images/dev_back_white.png), #fff;
    background-size: 115px;
    background-repeat: no-repeat;
    background-position: center;
}

.version{
    background: url(../assets/images/dev_version_white.png), #fff;
    background-size: 115px;
    background-repeat: no-repeat;
    background-position: center;
}

.skills_category p{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding: 0 15px;
}

//  Contact

.contact{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -35px;
    background-color: #fff;
    position: relative;
    z-index: 5;
}

.contact_titles{
    @include section-titles(rgb(157 157 157 / 24%));
    margin: 50px;
    align-self: flex-start;
}

.contact_container{
    display: flex;
    padding: 100px 25px;
    @include mobile{
        flex-direction: column;
        padding: 0 25px;
    }
    @include touch-pad{
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 910px) and (min-height: 1360px) {
        flex-direction: column;
        align-items: center;
    }
}

.contact_text{
    display: flex;
    flex-direction: column;
    width: calc(50% - 100px);
    padding: 0 50px;
    & p{
        line-height: 3;
        @include mobile{
            line-height: 1.5;
        }
    }
    @include mobile{
        width: auto;
        padding: 0;
    }
    @include touch-pad{
        width: auto;
        padding: 0;
    }
    @media screen and (min-width: 910px) and (min-height: 1360px) {
        width: auto;
    }
}

.contact_text_signature{
    font-family: "Mrs Saint Delafield", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    color: $color-primary;
    margin: 50px 0;
    @include mobile{
        text-align: center;
    }
}

.contact_form{
    display: flex;
    justify-content: center;
    width: 50%;
    @include mobile{
        width: auto;
    }
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    & input{
        border: none;
        border-bottom: 1px solid $color-secondary;
        outline: none;
        margin: 10px 0;
        padding: 5px;
        width: 424px;
        @include mobile{
            width: 300px;
            border-radius: 0;
        }
        &::placeholder{
            color: #a7a7a7;
            font-size: 14px;
        }
    }
    & textarea{
        border: 1px solid $color-secondary;
        outline: none;
        padding: 5px;
        width: 424px;
        resize: none;
        @include mobile{
            width: 300px;
        }
    }
    & label{
        font-size: 14px;
        color: #a7a7a7;
        margin-left: 5px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    & button{
        width: 438px;
        border: none;
        background-color: #6E5927;
        padding: 15px 10px;
        color: #fff;
        margin: 20px 0;
        font-size: 1rem;
        @include mobile{
            width: 310px;
        }
    }
}

.contact_social-links{
    display: flex;
    align-self: center;
    margin: 10px 0;
    @include mobile{
        margin: 30px 0;
    }
    & a{
        display: flex;
        padding: 10px;
        border: 1px solid $color-secondary;
        border-radius: 50%;
        margin: 0 20px;
        font-size: 1.5em;
        color: $color-secondary;
        text-decoration: none;
    }
}